html,body {
  padding: 0;
  margin: 0;
}


@import './navigation_bar.scss';
@import './intro.scss';
@import './what_i_do.scss';
@import './about_me.scss';
@import './my_works.scss';
@import './technology_stack.scss';
@import './other_interests.scss';
@import './get_in_touch.scss';
@import './footer.scss';

.portfolio-app {
  display: flex;
  flex-direction: column;
}
