html,body {
  padding: 0;
  margin: 0;
}


@import './navigation_bar.scss';
@import './intro.scss';
@import './what_i_do.scss';
@import './about_me.scss';
@import './my_works.scss';
@import './technology_stack.scss';
@import './other_interests.scss';
@import './get_in_touch.scss';
@import './footer.scss';

.portfolio-app {
  display: flex;
  flex-direction: column;
}

.portfolio-section {
  padding: 10.0rem 0;

  &--dark {
    background-color: #202020;
  }
}


.portfolio-image--item:hover {
    h2{
      color:#1b926c;
    }

    .icon {
        transform: translateY(-10px);
    }
}

.portfolio-image--item {
    text-align: center;
    margin-bottom: 30px;
    cursor: pointer;
    width: 25%;

    h2{
      font-size: 24px;
      -webkit-transition: all .3s ease-out;
      transition: all .3s ease-out;
      font-family: 'Roboto Slab',serif;
      font-weight: 400;
      letter-spacing: 0.02em;
      margin: 0 0 20px;
    }

    p {
      font-family: 'Titillium Web', sans-serif;
      font-size: 18px;
      line-height: 24px;
      font-weight: 300;
      margin: 20px;
    }

    .icon {
      display: flex;
      justify-content: center;
      margin: 0 auto 30px;
      -webkit-transition: all .3s ease-out;
      transition: all .3s ease-out;
    }

    img {
      max-width: 100%;
      width: 14.4em;
      height: 10.4em;

      .img-center {
          margin: 0 auto;
      }
    }

    #next_africa {
      border: 1px solid #000000 !important;
    }

  }
