@-webkit-keyframes code{
	0% {
    transform: translateY(100%);
  }
	20% {
    transform: translateY(80%);
  }
	40% {
    transform: translateY(60%);
  }
	60% {
    transform: translateY(40%);
  }
	80% {
    transform: translateY(20%);
  }
	100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes code-slider{
	0%{margin-left:20%;}
	100%{margin-left:0%;}
}


.portfolio-intro{
  padding: 10.0rem 0;
  background-color: #202020;

  @media (min-width: 1200px) {
      min-height: 660px;
  }

  &--container {
    display: flex;
    justify-content: space-around;
  }
  &--message {
    padding: 1.0rem 2.5rem;
    color: #FFFFFF;

    h1 {
      font-size: 61.6667px;
			font-family: 'Roboto Slab',serif;
    }
    p {
      font-size: 32px;
			font-family: 'Roboto Slab',serif;
    }
  }
  &--mac {
    padding: 1.0rem 5.5rem;

    .portfolio-code {
      overflow: hidden;
      height: 25rem;
      margin-top: -37rem;
      margin-left: 25px;

      .portfolio-code--snippet {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 250px;
        -webkit-animation:code 4s linear infinite;
				animation: code 4s linear infinite;
        img {
          height: 25rem;
					width: 45rem;
        }
      }
    }
  }
}
