.portfolio-what {
  padding: 10.0rem 0;

  &--header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 48px;
      font-weight: 600;
      letter-spacing: 0.05em;
      font-family: 'Roboto Slab',serif;
      margin: 0 0 20px;
      line-height: 1.1;
    }

    p {
      font-size: 18px;
      line-height: 24px;
      font-weight: 300;
      margin-bottom: 20px;
      justify-content: center;
      align-items: center;
      margin: 0 0 10px;
      font-family: 'Roboto Slab', sans-serif;
    }
  }

  &--content{
    padding: 5rem;
    display: flex;
    flex-direction: row;
  }

}
